<div class="container px-1 mb-20">

  <h1> WADS Rails Template (h1 title)</h1>

  <h2> h2 title</h>

  <h3> h3 title</h3>

  <%= link_to 'Edit this item', pages_home_path, class: "my-2 px-2 py-1 rounded-md shadow-sm bg-blue-umblue text-sm text-gray-100 text-center hover:underline" %>
  <%= link_to 'Delete', pages_home_path, method: :post, data: { confirm: 'Are you sure?' }, class: "my-2 px-2 py-1 hover:underline rounded-md shadow-sm bg-gray-100 text-sm text-blue-umblue text-center" %>
  
  <div class="mt-2">
        <%= link_to pages_home_path, data: { "turbo-frame": "_top" } do %>
          <div class="flex items-center text-sm text-blue-umblue hover:underline pb-2">
            <%= svg("left-arrow-svgrepo-com")  %>
            <span>Back to search</span>
          </div>
        <% end %>
      </div>
</div>
