<div class="flex items-center sm:hidden">  
  <div id="mobile-menu" aria-labelledby="header-nav-menu-button" aria-orientation="vertical" 
        data-dropdown-entering-class="transition ease-out duration-200" 
        data-dropdown-invisible-class="opacity-0 -translate-y-1 scale-95" 
        data-dropdown-leaving-class="transition ease-in duration-150" 
        data-dropdown-target="menu" data-dropdown-visible-class="opacity-100  -translate-y-0" 
         tabindex="-1">
    <div class="pt-2 pb-3 space-y-1 text-white" id="header-nav-menu-button">
      <%= link_to "link one", pages_home_path, class: "hover:bg-blue-50 hover:text-blue-700 block px-3 pr-4 py-2 text-base font-medium rounded w-screen max-w-xl #{class_names(active: current_page?(pages_home_path))}" %>
      <%= link_to "Responsive Sidebar", pages_index_path, class: "hover:bg-blue-50 hover:text-blue-700 block px-3 pr-4 py-2 text-base font-medium rounded w-screen max-w-xl #{class_names(active: current_page?(pages_index_path))}" %>
        <%= link_to 'link three', pages_about_path, class: "hover:bg-blue-50 hover:text-blue-700 block px-3 pr-4 py-2 text-base font-medium rounded w-screen max-w-xl #{class_names(active: current_page?(pages_about_path))}" %>
      <div class="grid grid-col-2 gap-2 justify-items-end mr-8">
        <div>
            <div class="leading-tight text-md font-medium text-white">
              current_user
            </div>
            
        </div>
      </div>
    </div>
  </div>
</div>
